/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li { 
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

.tudo{
    background: #F5F5F5;
}

/*Sección Menu*/

section.menu{
    width: 1,440px;
    height: 80px;
    padding: 32px 0;
    justify-content: space-around;
    display: flex;
}

.menu__header{
    display: flex;
    align-items: center;
    width: 200px;
    height: 24px;
    gap: 8px;
    flex-wrap: wrap;
}

.menu__header img{
    width: 24px;
    height: 24px;
}

.menu__title{
    width: 100px;
    color: #464646;
    font-size: 16px;
    line-height: 18.78px;
    text-align: left;
}

.menu__list{
    display: flex;
    width: 600px;
    height: 19px;
    gap: 32px;
}

.menu__list__item:nth-child(1){
    display: flex;
    white-space: nowrap;
}

.menu__list__item{
    height: 19px;
    width: auto;
    font-size: 16px;
    text-align: left;
}

.menu__list__item:nth-child(6){
    font-weight: bold;
}

.menu__list__item a{
    color: #464646;
}

/*Sección Title*/

section.title{
    width: 1,440px;
    height: 360px;
    justify-content: center;
    display: flex;
    margin: auto;
}

.title__div {
    display: flex;
    flex-direction:row-reverse;
    gap: 1%;
    margin: 0 auto 10px auto;
}

.title__profile{
    width: 360px;
    height: 320px;
    border-radius: 100%;
}

.title__container{
    width: 750px;
    height: 250px;
    padding-top: 20px;
    gap: 24px;
    flex-wrap: wrap;
    display: flex;
}

.title__bio{
    width: 750px;
    height: 120px;
    color: #464646;
    font-size: 52px;
    font-weight: 700;
    line-height: 61.05px;
    text-align: left;
    padding-bottom: 20px;
}

.title__subsection{
    margin-top: 30px;
    width: 750px;
    height: 52px;
    color: #464646;
    font-size: 22px;
    font-weight: 400;
    line-height: 25.83px;
    text-align: left;
}

.title__network{
    width: 467px;
    height: 24px;
    gap: 32px;
    display: flex;
    flex-direction: row;
}

.title__network__item{
    width: auto;
    height: 20px;
    color: #464646;
    gap: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
    justify-content: center;
}

.title__network__item img{
    width: 10px;
    height: 10px;
}


/*Sección About___INICIO*/
            
section.about{
    width: 1,440px;
    height: 380px;
    background-color: #EAF2FD;
    padding: 70px 25% 70px 25%; /*Medidas del padding de esta seccion y por ende todo se rije*/
    gap: 10px;
}

.about__container{
    width: 1,200px;
    height: 250px;
    gap: 16px;
}

.about__title{
    width: 250px;
    height: 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: left;
    color: #464646;
    padding-bottom: 2%;
}

.about__paragrap{
    width: 950px;
    height: 120px;
    color: #464646;
    font-size: 20px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: left;
}

img.about{
    margin: 20px 0 20px 0;
    width: 170px;
    height: 80px;
}


/*Sección Skills y Hobbies*/

section.syh{
    width: 1,440px;
    height: 600px;
    gap: 88px;
    background-color: #F5F5F5;
    padding: 70px 10% 70px 10%;
    justify-content: center;
}

/*Sección Skills*/

section.skills{
    width: 1,200px;
    height: 200px;
    gap: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px auto;
}

.skills__title{
    width: 100px;
    height: 40px;
    color: #464646;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.skills__line{
    display: flex;
    flex-direction: row;
    width: 1,200px;
    height: 200px;
    gap: 16px;
    justify-content: space-around;
    align-items: flex-end;
}

.skills__box{
    width: 180px;
    height: 174px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    background: #FFFFFF;
    display: flex;
    align-items: flex-end;
}

.skills__img{
    width: 25px;
    height: 40px;
    font-size: 32px;
    font-weight: 400;
    line-height: 36.8px;
    text-align: center;
    padding: 0 16px;
}

.skills__name{
    width: 144px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    text-align: left;
    color: #464646;
    padding: 0 16px;
    padding-bottom: 16px;
}

/*Sección Hobbies*/

section.hobbies{
    width: 1,200px;
    height: 200px;
    gap: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 150px;
    margin: 0px auto;
}

.hobbies__title{
    width: 100px;
    height: 40px;
    color: #464646;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.hobbies__line{
    display: flex;
    flex-direction: row;
    width: 1,200px;
    height: 200px;
    gap: 16px;
    justify-content: space-around;
    align-items: flex-end;
}

.hobbies__box{
    width: 180px;
    height: 174px;
    padding: 16px 0px 0px 0px;
    gap: 8px;
    background: #FFFFFF;
    display: flex;
    align-items: flex-end;
}

.hobbies__img{
    width: 25px;
    height: 40px;
    font-size: 32px;
    font-weight: 400;
    line-height: 36.8px;
    text-align: center;
    padding: 0 16px;
}

.hobbies__name{
    width: 144px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    text-align: left;
    color: #464646;
    padding: 0 16px;
    padding-bottom: 16px;
}


/*Sección Experiencia Académica*/

section.academic{
    width: 1,440px;
    height: 585px;
    padding: 20px 0px 0px 0px;
    gap: 32px;
    opacity: 0px;
    background-color: #EAF2FD;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.academic__title{
    width: 340px;
    height: 40px;
    color: #464646;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.academic__courses{
    width: 1,140px;
    height: 348px;
    gap: 16px;
    display: flex;
    justify-content: space-evenly;
}

.academic__courses__box{
    width: 368px;
    height: 348px;
    gap: 8px;
}

.academic__courses__list{
    background-color: none;
    display: flex;
    flex-direction: column;
    width: 368px;
    text-align: center;
}

.academic__courses__item__img{
    width: 368px;
    height: 286px;
    padding: 16px 0px;
    gap: 10px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.academic__courses__item__img img{
    width: 190px;
    height: 130px;
}

.academic__courses__item__title{
    width: 280px;
    height: 26px;
    color: #464646;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
    margin-top: 5px;
}

.academic__courses__item__subtitle{
    width: 200px;
    height: 19px;
    color: #464646;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
    margin-top: 5px;
}


/*Sección Experiencia*/

section.experience{
    width: 1,440px;
    height: 1,800px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.experience__section__title{
    width: 1,136px;
    height: 38px;
    color: #464646;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: center;
    align-content: center;
    margin: 32px 0px;
}

.experiencie__box{
    width: 1,136px;
    height: 406px;
    gap: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.experiencie__box:nth-child(3){
    display: flex;
    text-align: left;
    flex-direction: row-reverse;
}

.experience__img{
    width: 752px;
    height: 406px;
}

.experience__info{
    width: 368px;
    height: 368px;
    gap: 8px;
    align-content: center;
}

.experience__title{
    width: 368px;
    height: 26px;
    color: #464646;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
}

.experiencie__box:nth-child(3) .experience__title{
    height: 52px;
    display: flex;
}

.experience__text{
    width: 368px;
    height: 19px;
    color: #464646;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
    padding-top: 8px;
}

.experience__description{
    width: 560px;
    height: 51px;
    gap: 16px;
    opacity: 0px;
    padding-top: 8px;
    display: flex;
}

.experience__repo button{
    width: 116px;
    height: 51px;
    gap: 10px;
    border: 1px solid #2A7AE4;
}

.experiencia__botao--repo {
    color: #2A7AE4;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: center;
    align-items: center;
}

.experience__demo button{
    width: 105px;
    height: 51px;
    gap: 10px;
    background: #2A7AE4;
    border: 1px solid #2A7AE4;
}

.experience__botao--demo{
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    text-align: center;
    color: #FFFFFF;
}

.experience__box{
    width: 1,136px;
    height: 406px;
    gap: 16px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.experience__box:nth-child(5){
    display: flex;
    text-align: left;
    flex-direction: row-reverse;
}

.experience__img{
    width: 752px;
    height: 406px;
}

.experience__info-container{
    width: 368px;
    height: 368px;
    gap: 8px;
    align-content: center;
}

.experience__title{
    width: 368px;
    height: 26px;
    color: #464646;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    text-align: left;
}

.experience__box:nth-child(5) .experience__title{
    height: 52px;
    display: flex;
}


/*Sección Contactos*/

section.formcontato{
    width: 1,440px;
    height: 790px;
    background-color: #EAF2FD;
    display: flex;
    justify-content: center;
}

.formcontato__contacto{
    width: 1,136px;
    height: 660px;
    padding: 64px 0px 0px 0px;
    gap: 16px;
    display: flex;
    align-items: center;
}

.formcontato__img {
    width: 465px;
    height: 595px;
    display: flex;
}

.formcontato__text{
    width: 650px;
    height: 590px;
    gap: 30px;
}

.formcontato__title{
    width: 140px;
    height: 38px;
    font-size: 32px;
    font-weight: 700;
    line-height: 37.57px;
    text-align: left;
    color: #464646;
    margin-bottom: 8px;
}

.formcontato__subtext{
    width: 656px;
    font-size: 16px;
    font-weight: 500;
    line-height: 18.78px;
    text-align: left;
    color: #464646;
}

.formcontato__form{
    width: 656px;
    height: 450px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.formcontato__input{
    width: 656px;
    height: 56px;
    padding: 8px 0px 0px 0px;
    gap: 4px;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    background: #FFFFFF;
    color: #A2A2A2;
    display: flex;
    align-items: center;
}

.formcontato__textarea{
    width: 656px;
    height: 133px;
    padding: 16px 0px 0px 0px;
    gap: 4px;
    border-radius: 4px;
    display: block;
    border: none;
    background: #FFFFFF;
    color: #A2A2A2;
    font-size: 16px;
    text-align: left;
}

.formcontato__botao{
    width: 144px;
    height: 51px;
    gap: 10px;
    background-color: #2A7AE4;
    color: white;
    display: block;
    border: none;
    font-size: 16px;
    text-align: center;
    align-items: center;
}

/*footeer*/

section.footer{
    width: 1,440px;
    height: 100px;
    gap: 10px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__rodape{
    width: 229px;
    height: 38px;
    color: #464646;
    font-size: 16px;
    line-height: 18.78px;
    text-align: center;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}